*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: grid;
    place-items: center;
    align-items: center;
    background-color: #F2EAE0;
}
form{
    width: 350px;
    height: 400px;
    box-shadow: 0.5px 0.5px 8px 0.5px black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
}
.div{
    padding: 30px;
}
h1{
    font-size: 35px;
    font-weight: 900;
}
label{
    font-size: 30px;
    font-weight: 600;
}
input{
    width: 290px;
    height: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0.5px 0.5px 8px 0.5px black;
}
.btn{
    background-color: skyblue;
    height: 35px;
    font-size: 30px;
    font-weight: 600;
}
p{
    font-size: 25px;
    color: black;
}