*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: #D2C4B4;
    display: grid;
    place-items: center;
    align-items: center;
}
form{
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    /* border: 2px solid black; */
    box-shadow: 0.5px 0.5px 10px 0.1px black;
}
div{
    padding: 20px;
}

label{
    font-size: 25px;
    font-weight: 600;
}
input{
    width: 350px;
    height: 22px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.btn{
    height: 30px;
    font-size: 25px;
    background-color: lightblue;
}