*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    display: grid;
    place-items: center;
    align-items: center;
    background-color: #ACBFA4;
}
form{
    background-color: white;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0.5px 0.5px 10px 0.5px;
    display: grid;
    align-items: center;
    place-items: center;
}
.div{
    padding: 30px;
    
}
label{
    font-size: 30px;
}
input{
    width: 340px;
    height: 25px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.btn{
    background-color: skyblue;
}